/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-img: url(../images/cover-image-light.png);
  --main-text-color: #353430;
  --bg-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --text-on-accent-color: #353430;
  --header-title-color: #FFC2E6;
  --transparent-outline-color: #32312D66;
  --variable-accent-color: #353430;
  --decoration-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-img: url(../images/cover-image-light.png);
    --main-text-color: #353430;
    --bg-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --text-on-accent-color: #353430;
    --header-title-color: #FFC2E6;
    --transparent-outline-color: #32312D66;
    --variable-accent-color: #353430;
    --decoration-display: none;
  }
}