/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-img: url(../images/cover-image-dark.png);
  --main-text-color: #F1B2CE;
  --bg-color: #000028;
  --accent-color: #FF0070;
  --text-on-accent-color: #000028;
  --header-title-color: #DB00FF;
  --header-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --section-title-size: 18px;
  --section-title-weight: 700;
  --content-title-size: 18px;
  --content-title-weight: 700;
  --content-subtitle-size: 18px;
  --content-subtitle-weight: 400;
  --page-paddings: 10px;
  --transparent-outline-color: #FF007066;
  --variable-accent-color: #FF0070;
  --decoration-display: block;
}